@page
@model Al.Web.Pages.Admin.Countries.AddCountryModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "افزودن کشور";
}

<link rel="stylesheet" href="~/css/admin/admin-groups.css" />

<form method="post">
    <input asp-for="Country.CountryId" hidden />
    <div class="name-box">
        <input type="text" asp-for="Country.CountryName" placeholder="نام کشور را وارد کنید">
    </div>
    <div class="button-box">
        <button>ثبت</button>
    </div>
</form>