@page
@model Al.Web.Pages.Profile.ChangePasswordModel
@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "تغییر رمز عبور";
    ViewData["currentList"] = "تغییر رمز عبور";
}

<form method="post" autocomplete="off">
    <div class="desc-product">
        <div class="info-field">
            <input asp-for="Model.OldPassword" placeholder="رمز فعلی"/>
        </div>
        <span asp-validation-for="Model.OldPassword"></span>

        <div class="info-field">
            <input asp-for="Model.NewPassword" placeholder="رمز جدید"/>
        </div>
        <span asp-validation-for="Model.NewPassword"></span>

    </div>
    <div class="edit-button">
        <button href="#">تغییر رمز عبور</button>
    </div>
</form>
