@page
@model Al.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "عدم دسترسی";
}

<link rel="stylesheet" href="~/css/access-denied.css"/>

<div class="box-access">
    <div class="title">
        <p>شما به این صفحه دسترسی ندارید</p>
    </div>
    <div class="redirect">
        <a href="/">رفتن به صفحه اصلی</a>
    </div>
</div>