@page
@model Al.Web.Pages.Account.ForgotPasswordModel
@{
}

<link rel="stylesheet" href="~/css/forgot-password.css">

<section class="forgot-password-email">
    <div class="container">
        <div id="forgot-password-email">
            <form method="post" autocomplete="off">
                <div class="send-email-box">
                    <div class="email-message">
                        <p>در صورت وجود حساب لینک ارسال خواهد شد</p>
                        <input asp-for="Email" placeholder="ایمیل خود را وارد کنید" class="email" />
                    </div>
                    <div class="send-button">
                        <button href="#">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
