@page
@model Al.Web.Pages.Account.ResetPasswordModel
@{
}

<link rel="stylesheet" href="~/css/sing-up.css" />

<main>
    <section class="sing-up">
        <div id="sing-up">
            <p class="title">بازیابی رمز عبور</p>
            <form method="post" autocomplete="off">
                <input asp-for="Model.Email" hidden />
                <input asp-for="Model.Token" hidden />

                <div class="input-box">
                    <input asp-for="Model.Password" placeholder="رمز عبور جدید">
                    <span asp-validation-for="Model.Password"></span>
                </div>
                <div class="input-box">
                    <input asp-for="Model.ConfirmPassword" placeholder="تکرار رمز عبور جدید">
                    <span asp-validation-for="Model.ConfirmPassword"></span>

                </div>
                <div class="button-box">
                    <button>تغییر رمز عبور</button>
                </div>
            </form>
        </div>
    </section>
</main>