:root {
    --background: #01215c;
    --menu-color: #feba01;
    --navbar-color: #c7ccd4;
    --nav-text-color: #383030;
    --background-contents: #eff0f1;
    --background-info-box: #068006;
    --info-box-description: #e2dada;
    --background-search: #c9c8c8;
    --head-table: #dad8d8;
    --head-table-color: #1b1a1a;
    --cross-close-red: #e20f0f;
    --check-green: #068006;
    --edit-orange: #ffbb00;
    --add-green: #11c900;
    --select-gray: #7a7584;
}

.select-image {
    width: 20%;
}

.box-contents .others-info {
    width: 80%;
}

.box-contents .others-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box-contents .button-box {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.box-contents .button-box button {
    width: 190px;
    height: 35px;
    font-size: 16px;
    background-color: var(--add-green);
    color: var(--background-contents);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.box-contents .others-info .field-box input {
    width: 100%;
}